@import '../../index.css';

.schedule-container{
    height: 100%;
    width: 100%;
}

.schedule-btn{
    font-family: var(--main);
    text-align: center;
}

.wishlist-modal-container {
    padding: 10% 15% !important;
}