@import '../../index.css';

.actionBtn {
    display: flex;
    opacity: 0.7;
    padding: 17px 100px 12px 100px !important;
    color: var(--darkGrey) !important;
    font-family: var(--sub) !important;
    font-size: 22px;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    margin: 30px 0;
    position: relative;
}

.actionBtn:hover {
    opacity: 1;
}

#fa-play-icon {
    color: var(--darkGrey);
    fill: var(--darkGrey);
    margin: 2px 0 0 10px !important;
    width: 16px;
}

.saveBtn, .startBtn {
    font-family: var(--sub) !important;
    font-size: 18px !important;
    padding-top: 10px !important;
}

.wishlistBtn, .moreBtn {
    font-family: var(--smallText) !important;
}

.moreBtn:hover {
    color: var(--red);
}

.moreBtn:hover #fa-link-icon {
    color: var(--red);
    fill: var(--red);
}


.smallBtn-toggled {
    color: var(--red);
    fill: var(--red);
}

.wishlistBtn:active {
    color: var(--red);
}

#fa-heart-icon, #fa-refresh-icon {
    color: var(--cyan);
    fill: var(--cyan);
    margin: 2px 10px 0 0 !important;
}

#fa-heart-icon{
    width: 14px;
}

#fa-refresh-icon {
    width: 20px;
}

.saveBtn:hover #fa-heart-icon, .startBtn:hover #fa-refresh-icon {
    color: var(--darkGrey) !important;
    fill: var(--darkGrey) !important;
}

.saveBtn:disabled #fa-heart-icon {
    color: var(--cyan) !important;
    fill: var(--cyan) !important;
}



#fa-heart-solid-icon {
    color: var(--red);
    display: none;
    margin: 2px 10px 0 0 !important;
    width: 16px;
}

#fa-heart-outline-icon {
    color: var(--red);
    fill: var(--red);
    margin: 2px 10px 0 0 !important;
    width: 16px;
}

.wishlistBtn:hover {
    color: var(--red);
}

.wishlistBtn:hover #fa-heart-solid-icon {
    display: block;
    color: var(--red);
    fill: var(--red);
}

.wishlistBtn:hover #fa-heart-outline-icon {
    display: none;
}


#fa-link-icon {
    color: var(--pink);
    fill: var(--pink);
    margin: 4px 10px 0 0 !important;
    width: 16px;
}




@media only screen and (max-width: 800px) {

    .saveBtn, .startBtn {
        font-family: var(--sub) !important;
        font-size: 14px !important;
        padding-top: 6px !important;
    }

    #fa-heart-icon, #fa-refresh-icon {
        color: var(--cyan);
        fill: var(--cyan);
        margin: 5px 10px 0 0 !important;
    }
    
    #fa-heart-icon{
        width: 10px;
    }
    
    #fa-refresh-icon {
        width: 18px;
    }
    }
    
