@import '../../index.css';

:root {
    --pink: #FAB4BE;
}


h2 {
    color: var(--cyan);
    font-family: var(--main);
    font-size: 38px;
}


h3 {
    color: var(--cyan);
    font-family: var(--smallText);
}


p {
    font-family: var(--smallText);
    color: var(--grey);
}

.explanation {
    font-size: small;
}

input {
    width: 100%;
    background-color: var(--red);
    opacity: 0.8;
    border-radius: 27px;
    height: 45px;
    padding: 5px 20px 0 20px !important;
    text-transform: uppercase;
    font-family: var(--sub) !important;
    font-size: small !important;
    font-weight: 20 !important;
    letter-spacing: 1pt;
    align-content: center;
}

input:focus {
    background-color: var(--pink);
    outline: 0;
    color: var(--darkGrey);
}

#game-title,
#genre-quest {
    padding-top: 40px;
}

.inputTitle {
    margin-bottom: 5px;
    padding-left: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.genreBtn {
    padding: 7px 24px 4px 24px !important;
    margin: 7px 5px;
    border-radius: 27px;
    border: none;
    background-color: var(--red) !important;
    opacity: 0.8;
    font-family: var(--sub);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
    flex: 1;
    width: calc(25% - 10px);
}

.genreBtn:hover,
.selectedBtn {
    background-color: var(--pink) !important;
    color: var(--darkGrey);
}

.disabled, .disabled:hover {
    background-color: var(--red) !important;
    color: white;
    opacity: 0.4;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#squad-alias,
#game-title {
    width: 100%;
}

#error-msg-hp {
    font-family: var(--smallText);
    color: var(--red);
    margin-top: -20px;
}

#loading-msg {
    font-family: var(--smallText);
    color: var(--cyan);
    opacity: 0.5;
    margin-top: -20px;
}

@media only screen and (max-width: 1536px) {

    .genreBtn {
        width: calc(30% - 10px);
    }

    .button-container {
        margin-left: -2%;
    }

    .hero-container {
        margin-right: -2%;
    }

}


@media only screen and (max-width: 1432px) {

    .genreBtn {
        width: calc(50% - 10px);
    }

}

