@import '../../index.css';

input {
    width: 100%;
    background-color: var(--red);
    opacity: 0.8;
    border-radius: 27px;
    height: 45px;
    padding: 5px 20px 0 20px !important;
    text-transform: uppercase;
    font-family: var(--sub) !important;
    font-size: small !important;
    font-weight: 20 !important;
    letter-spacing: 1pt;
    align-content: center;
}

input::placeholder {
    color: white !important;
    opacity: 0.5 !important;
}

input:focus {
    background-color: var(--pink);
    outline: 0;
    color: var(--darkGrey);
}


#error-msg-pl {
    font-family: var(--smallText);
    color: var(--red);
    margin-top: -20px;
}

.checkbox {
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}

.checkbox:hover {
    transform: scale(0.7);
}

