@import '../../index.css';

.gameCard {
    width: 100%;
}

.imgHolder {
    min-width: 200px;
    height: 200px;
    overflow: hidden;
}

.gameImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ************************************** SELECTION OVERLAY ************************************************ */

.select {
    display: flex;
    height: 25%;
    background-color: var(--select);
    justify-content: center;
    align-items: center;
    transition: height 0.4s ease;
}

.select:hover {
    /* height: 250px; */
    height: 100%;
}

.select-text {
    font-size: 1.75rem;
    justify-self: baseline;
}

/* display star icon on hover only */
#fa-star-icon {
    display: none;
}

.select:hover #fa-star-icon {
    display: block;
    color: var(--darkgrey);
    fill: var(--darkgrey);
}

#container-sel-star {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
}

/* when selected */
.selected-card {
    height: 100%;
}

.selected-card #fa-star-icon {
    display: block;
    color: var(--darkgrey);
    fill: var(--darkgrey);
}

.selected-card #container-sel-star{
    transform: scale(1.3);
}



/* ************************************** WISHLIST BUTTON TOGGLE STATE ************************************************ */

.wishlist-toggled #fa-heart-solid-icon {
    display: block;
    color: var(--red);
    fill: var(--red);
}

.wishlist-toggled #fa-heart-outline-icon {
    display: none;
}