nav ul li a {
    font-family: var(--main);
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    text-align: left;
    color: pink;
    margin-left: 40px;
}
  
nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}